.products-grid .label{
     position: absolute;
     background: white;
     padding: 4px 4px 4px;
     color: red;
     z-index: 2;
 }
.products-grid .top-left{
    top: 2px;
    left: 2px;
}
.products-grid .top-right{
    top: 2px;
    right: 2px;
}
.products-list .label{
    position: absolute;
    background: white;
    padding: 4px 4px 4px;
    color: red;
    z-index: 2;
}
.products-list .top-left{
    margin: 2px;
}
.products-list .top-right{
    top: 3px;
    right: 48px;
    position: relative;
}




