<?xml version="1.0"?>
<config>
    <modules>
        <Factory_ProductLabels>
            <version>1.0.0</version>
        </Factory_ProductLabels>
    </modules>
    <global>
        <models>
            <productlabels>
                <class>Factory_ProductLabels_Model</class>
            </productlabels>
        </models>
        <blocks>
            <class>Factory_ProductLabels_Block</class>
            <catalog>
                <rewrite>
                    <product_list>Factory_ProductLabels_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <productlabels>
                <class>Factory_ProductLabels_Helper</class>
            </productlabels>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productlabels>
                                            <title>BlueFactory Extensions</title>
                                        </productlabels>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <productlabels>
                    <file>factory/productlabels.xml</file>
                </productlabels>
            </updates>
        </layout>
    </frontend>
</config>